body{
    display: flex;
    justify-content: center;
    background: linear-gradient( #000000, #000066);
}

#game-board {
    display: grid;
    grid-template-columns: repeat(30, 30px);
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
}

.snake {
    background-color: green;
}

.food {
    background-color: red;
}